.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20em;
  
  &.fullPage{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #2f2f2f42;
    z-index: 1;
  }
}